<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="~/Images/BellTower.png" />
    <title>@ViewData["Title"] - 2024PSMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_2024PSMS.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <style>


            .dropdown:hover .dropdown-menu {
                display: block !important;
                margin-top: 0;
                color: white;
            }

            .navbar a:hover {
                background-color: navy;
                color: white;
            }
        </style>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-primary bg-white border-bottom box-shadow mb-3 fs-5">
            <img src="~/Images/_2024PSMS Logo.jpg" height="175" />
            <div class="container">

                <label>2024PSMS</label>

                <a href="~/Projects/ViewProjects"></a>


                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">

                        @switch (Context.Session.GetString("Status"))
                        {
                            case "A":                               
                                <li><a class="dropdown-item" asp-area="" asp-page="/Privacy">Privacy</a></li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-toggle dropdown-item " data-toggle="dropdown">Maintain</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="~/Users/MaintainUsers">Users</a></li>
                                        <li><a class="dropdown-item" href="~/Projects/MaintainProjects">Projects</a></li>
                                        <li><a class="dropdown-item" href="~/ProjectFiles/MaintainProjectFiles">Project Files</a></li>
                                        <li><a class="dropdown-item" href="~/ProjectTypes/MaintainProjectTypes">Project Types</a></li>
                                        <li><a class="dropdown-item" href="~/Mentors/MaintainMentors">Mentors</a></li>
                                    </ul>
                                </li>


                                <li>
                                    @if (@Context.Session.GetString("Status") == ("A"))
                                    {
                                        <a class="dropdown-item" href="~/SendNotification/SendNotification">Send Notification</a>
                                    }
                                </li>

                                <li><a class="dropdown-item" asp-area="" asp-page="/Common/LogOut">Log Out</a></li>


                                break;
                            case "I":                               
                                <li><a class="dropdown-item" asp-area="" asp-page="/Privacy">Privacy</a></li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-toggle dropdown-item " data-toggle="dropdown">Maintain</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="~/Projects/MaintainProjects">Projects</a></li>
                                        <li><a class="dropdown-item" href="~/ProjectFiles/MaintainProjectFiles">Project Files</a></li>                     
                                    </ul>
                                </li>

                                <li><a class="dropdown-item" asp-area="" asp-page="/Common/LogOut">Log Out</a></li>
                                break;
                            case "S":
                                <li><a class="dropdown-item" asp-area="" asp-page="/Index">Home</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/Privacy">Privacy</a></li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-toggle dropdown-item " data-toggle="dropdown">Maintain</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="~/Projects/MaintainProjects">Projects</a></li>
                                        <li><a class="dropdown-item" href="~/ProjectFiles/MaintainProjectFiles">Project Files</a></li>
                                    </ul>
                                </li>

                                <li><a class="dropdown-item" asp-area="" asp-page="/Common/LogOut">Log Out</a></li>
                                break;
                            case null:
                            <li><a class="dropdown-item" asp-area="" asp-page="/Projects/ViewProjects">View Projects</a></li>
                                <a href="~/Projects/ViewProjects"></a>
                                break;

                        
                        }
                    </ul>
                </div>
                @switch (Context.Session.GetString("Status"))
                {
                    case "A":
                        <label style="color:navy">
                            @Context.Session.GetString("FirstName")
                            @Context.Session.GetString("LastName") -
                            (Administrator)
                        </label>
                        break;

                    case "I":

                        <label style="color:navy">
                            @Context.Session.GetString("FirstName")
                            @Context.Session.GetString("LastName") -
                            (Instrucor)
                        </label>
                        break;

                    case "S":

                        <label style="color:navy">
                            @Context.Session.GetString("FirstName")
                            @Context.Session.GetString("LastName") -
                            (Student)
                        </label>
                        break;
                    case null:
                        <label>(Guest)</label>
                        break;
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024PSMS Contact: Robert Beasley rbeasley@franklincollege.edu Version 1
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>