@page
@model _2024PSMS.Pages.ProjectFiles.MaintainProjectFilesModel
@{
    ViewData["Title"] = "2024PSMS";
}

<h1>Maintain Project Files</h1>

<label>Message:</label>
<label style="color: @Model.MessageColor">@Model.Message</label>
<br />

<table class="table">
    <thead>
        <tr>
            <td><a class="button-add" asp-page="AddProjectFiles"><span>Add</span></a></td>
            <th><label>Last Name</label></th>
            <th><label>First Name</label></th>
            <th><label>Project Title</label></th>
            <th><label>Project File</label></th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ResultIList)
        {
            <tr>
                <td>                   
                    <a class="button-delete" asp-page="DeleteProjectFiles" asp-route-intProjectFileID="@item.ProjectFileID" onclick="return confirm('Are you sure you want to delete this Project File? Click OK to delete it. Click Cancel to keep it.')"><span>Delete</span></a>
                </td>
                <td><label>@item.LastName</label></td>
                <td><label>@item.FirstName</label></td>
                <td><label>@item.ProjectTitle</label></td>
                <td><label>@item.ProjectFile</label></td>
            </tr>
        }
    </tbody>
</table>
